{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Details</title>
</head>
<body>
    <hi>Details Page</hi>
    <ul>

        <!-- context{
            'Wonder Woman': 1,
            'Superman': 2,
        }
        print context[1] -->

        {% for hero in single_hero %}
        <li><h2>{{hero.alter_ego}}</h2></li>
        {% endfor %}
    

    </ul>
</body>
</html>